
@keyframes pulse {
    0% {
        transform: scale(1);
       
    }
    50% {
        transform: scale(1.1);
        
    }
    100% {
        transform: scale(1);
      
    }
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html{ 
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    width: 100%;
    background:#000000;
}


#preloader{
    background: #000000 url(liquid_teq64i.gif) no-repeat center center ;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}


#main {
    position: relative;
    overflow: hidden;
    color: #fff;
}
#page {
    
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}


#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
canvas {
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop {
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
    color: #fff;
}
#loop > h1 {
    font-weight: 400;
    animation-name: anim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop > h1 > span {
    -webkit-text-stroke: 1.2px #fff;
    color: transparent;
    font-weight: 500;
}
@keyframes anim {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
.logo{
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    animation: slideInLeft 0.5s;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
#page > h3 {
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page > h4 {
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}
#page1 > #right-text {
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1 > #right-text > h3 {
    font-weight: 400;
    color: #7c7c7c;
}
#page1 > #right-text > h1 {
    line-height: 1.5;
    font-size: 50px;
}
#page1 > #left-text {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}
#page1 > #left-text > h1 {
    font-size: 50px;
    line-height: 1.5;
}
#page1 > #left-text > h3 {
    color: #7c7c7c;
    font-weight: 400;
}
#page2 > #text1 {
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2 > #text1 > h3 {
    color: #7c7c7c;
    font-weight: 400;
}
#page2 > #text1 > h1 {
    font-size: 60px;
    line-height: 1.5;
}
#page2 > #text2 {
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}
#page2 > #text2 > p {
    color: #7c7c7c;
    font-weight: 400;
}
#page3 > #text3 {
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3 > #text3 > h3 {
    color: #7c7c7c;
    font-weight: 400;
}
#page3 > #text3 > h1 {
    font-size: 70px;
}
/* ----------------------sevices--------------------------- */

.container{
    padding: 10px 10%;
    font-family: 'poppins';

}
#services{
    padding: 30px 0;

}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

    color: #fff;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    

}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);

}

/* -------portifolio----------------- */
#portfolio{
    padding: 50px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 30px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);

}


.work:hover .layer{
    height: 100%;
}

.btn{
    display: inline-flex;
    margin: 50px auto;
    margin-right: 600px;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

}

.btn:hover{
    background: #ff004f;
}


/* ----------contact-------------- */

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    
}

.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
    transition: transform 0.5s;
}
.btn.btn2{
    display: inline;
    background: #000000;
}
.btn.btn.btn2:hover{
    transform: scale(1.1);
    transition: 0,5s;
}
.contact-right form{
    width: 100%;

    
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
.copyright i{
    color: #ff004f;
    animation: pulse 0.5s infinite;
}




#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


/* ------------------------css for small screen-------------------- */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){

  

        
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #fff;

    }
    nav ul{
        background-color: #0000003d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        text-align: center;

    }
    nav ul li{
        display: block;
        margin: 25px;

        

    }
    
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ffffff;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
      
    }

    nav ul li a:hover{
       background-color: #ff004f;
      

    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;

    }
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right:20px ;

    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

    @media only screen and (max-width: 600px) {

        

        #preloader{
            background: #000000 url(liquid_teq64i.gif) no-repeat center center ;
            background-size: 20%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 1000;
        }
        /* Esconder o ícone de menu e mostrar o menu ao clicar */
        nav .fa-solid {
            display: block;
            font-size: 25px;
            color: #fff;
        }
        nav ul {
            background-color: #0000003d;
            position: fixed;
            top: 0;
            right: -200px;
            width: 200px;
            height: 100vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s;
            text-align: center;
        }
        nav ul li {
            display: block;
            margin: 25px;
        }
        nav ul li a::after {
            content: '';
            width: 0;
            height: 3px;
            background: #ffffff;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
        }
        nav ul li a:hover {
            background-color: #ff004f;
        }
        nav ul .fa-solid {
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
        .sub-title {
            font-size: 40px;
        }
        /* Adicione mais regras de mídia aqui conforme necessário */
        canvas {
            position: static;
            top: 15%;
            width: 80vh;
            height: -0.1%;
            margin:  auto 0% ;
            padding:  90px 60px;
            
            z-index: 0;
        }
        


        #page1 {
            position: relative;
            height: 100vh;
            width: 100vw;
            background-color: #00000000;
        }
        
        
        #page2 {
            position: relative;
            height: 100vh;
            width: 100vw;
            background-color: #00000000;
        }
        #page3 {
            position: relative;
            height: 100vh;
            width: 100vw;
            background-color: #00000000;
        }

                
        #loop {
            display: flex;
            position: absolute;
            top: 10%;
            height: 25%;
            width: 100%;
            font-size: 50px;
            white-space: nowrap;
            font-family: gilroy;
            color: #fff;
        }
        #loop > h1 {
            font-weight: 300;
            animation-name: anim;
            animation-duration: 15s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        #loop > h1 > span {
            -webkit-text-stroke: 1.2px #fff;
            color: transparent;
            font-weight: 500;
        }
        #page > h3 {
            position: absolute;
           
            top: 22%;
            font-family: gilroy;
            font-weight: 400;
            color: #7c7c7c;
            left: 5%;
        }
        #page > h4 {
            position: absolute;
            top: 70%;
            left: 1%;
            font-family: gilroy;
            font-weight: 500;
        }
        #page1 > #right-text {
            position: absolute;
            flex-wrap: wrap;
            top: 10%;
            left: 10%;
        }
        #page1 > #right-text > h3 {
            font-weight: 400;
            color: #7c7c7c;
        }
        #page1 > #right-text > h1 {
            line-height: 1.5;
            font-size: 50px;
        }
        #page1 > #left-text {
            display: none;
            position: absolute;
            top: 50%;
            right: 10%;
            text-align: end;
            
        }
        
        #page2 > #text1 {
            position: absolute;
            top: 8%;
            left: 10%;
        }
        #page2 > #text1 > h3 {
            color: #7c7c7c;
            font-weight: 400;
        }
        #page2 > #text1 > h1 {
            font-size: 30px;
            line-height: 1.5;
        }
        #page2 > #text2 {
            display: none;
            position: relative;
            top: 85%;
            right: 3%;
            text-align: end;
        }
        #page2 > #text2 > p {
            color: #7c7c7c;
            font-weight: 400;
        }
        #page3 > #text3 {
            position: relative;
            top: 10%;
            right: 3%;
            text-align: end;
        }
        #page3 > #text3 > h3 {
            color: #7c7c7c;
            font-weight: 400;
        }
        #page3 > #text3 > h1 {
            font-size: 50px;
        }
    
    
    
}   }